/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .container{
        width: 100%;}
    .image_item{
         width: 100%;
         }    
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .container{
         width: 520px;}
    .image_item{
         width: 50%;   
         }    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    
     .container{
        width: 700px;}
    .image_item{  
            width: 50%;
         }    
 
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 


 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .container{
      
        width: 1140px;
        
 }

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    .container{
      
        width: 1320px;
        
 }
 }



